<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button><%= link_to "Follow Me On My Old Facebook", "https://www.facebook.com/jonathon.reck", class: "social-btn" %></button>
